body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 100px auto 100px;
  background-color: lightgray;
}

@media screen and (max-width: 368px) {
  body {
    width: 48%;
  }
}

.container {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #9cafaa;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 100px;
}
.container > .page-header h1 {
  color: white;
  margin-left: 25px;
}
.container > .page-header > nav a {
  background-color: #d6dac8;
  margin-right: 10px;
  text-decoration: none;

  padding: 10px;
  border-radius: 20px;
  color: black;
}

/* Styling for Header starts from here */
.page-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.page-header nav {
  margin-top: 30px;
}

a {
  height: 100px;
}
/* Styling for Header ends here */

/* Styling for body begins from here */

.user-interaction {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.page-body form {
  color: white;
}

input {
  margin-left: 10px;
  border-radius: 5px;
  line-height: 20px;
  background: transparent;

  outline: none;
}
.page-body > .user-interaction > button {
  margin-left: 10px;
}

.timer-display {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: large;
  background-color: #d6dac8;
  align-items: center;
  height: 100px;
}
.buttons {
  text-align: center;
}

.activity-tracker {
  text-align: center;
}
.activity-tracker h2 {
  color: white;
}

/* Analytic page css Styling */

.analytic-tracker {
  color: white;
  margin-left: 25px;
}
